.lucida{
  font-family: "lucida console", "courier new", monospace;
}
.helvetica{
  font-family: "helvetica", "arial", sans-serif;
}
#boxed{
  border: 3px lightblue;
  border-style: dotted;
  padding: 2px;
  margin: 2px;

}
#background {
  background-image: url(kodiswim.jpg);
  background-position: center;
  background-repeat: repeat;
}
